click==8.0.1
dataclasses==0.8
environs==9.3.2
Flask==2.0.1
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.2
pika==1.2.0
pydevd-pycharm==212.4746.13
python-dotenv==0.18.0
PyYAML==5.4.1
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
