click==8.0.1
requests==2.31.0
dataclasses==0.6
environs==9.3.2
Flask==2.0.1
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.2
pydevd-pycharm==212.4746.13
python-dotenv==0.18.0
PyYAML==5.4.1
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
pyrabbit==1.1.0
sendgrid==6.10.0
discord.py==2.3.2
discordwebhook==1.0.3