.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 10px;
    /*width: auto;*/
}

.table-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: auto;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.table-cell {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}
