{% extends "main.html" %}

{% block title %}
    HASH: {{ job['hash'] }}
{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <h3> Command Args </h3>
        <pre>
            {{ job['command_args'] | tojson(indent=4) }}
        </pre>
    </div>
    <hr/>
    <div class="col-xl-12">
        <h3> Error </h3>
        {{ job['error'] }}
    </div>


    <div class="col-xl-12">
        <a href="{{ url_for('run_job', hash=job['hash']) }}" target="_blank" class="btn btn-primary">Re-run</a>
    </div>

{% endblock %}